@import "tailwindcss";

@theme {
  --color-primary: #00B300;
  --color-primary-dark: #007A00;
  --color-primary-light: #E6F9E6;
  --color-sidebar: #007A00;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F4F6F5;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #00B300;
  border-radius: 3px;
}